@page
@using NewFoodie.Services.Interfaces;
@inject IRecipeService RecipeService;
@inject IRecipeItemService RecipeItemService;
@model NewFoodie.Areas.Identity.Pages.Account.Manage.EditRecipeModel
@{
    ViewData["Title"] = "Edit Recipe";
}

<div>
    <a asp-page="./CheckMyRecipes">Back to List</a>
</div>
<br />

<h1> Edit Recipe</h1>
<br />

<h3> @Model.Recipe.Name</h3>

<br />
<div class="col-md-4" style="min-width: 40rem">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <!--Change Recipe Name -->
        <table class="table">
            <tr>
                <th>Change Recipe Name:</th>
                <th><input asp-for="@Model.Recipe.Name" class="form-control" /></th>
            </tr>
            <span asp-validation-for="@Model.Recipe.Name" class="text-danger"></span>
        </table>
        <br />

        <!--Edit Ingredient-->
        <div>
            <a asp-page="./EditRecipeItems" asp-route-recipeId="@Model.Recipe.Id">Edit Ingredients</a>
        </div>
        <br />


        <!--Ingredient List-->
        <table class="table">
            <thead>
                <tr>
                    <th> Ingredient</th>
                    <th> Amout</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (@Model.RecipeItem1 == null)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <input type="hidden" asp-for="RecipeItem1.Id" />
                        <td>@Model.RecipeItem1.Name</td>
                        <td>@Model.RecipeItem1.Amount</td>
                    }                    
                </tr>
                <tr>
                    @if (@Model.RecipeItem2 == null)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <input type="hidden" asp-for="RecipeItem2.Id" />
                        <td>@Model.RecipeItem2.Name</td>
                        <td>@Model.RecipeItem2.Amount</td>
                    }
                </tr>
                <tr>
                    @if (@Model.RecipeItem3 == null)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <input type="hidden" asp-for="RecipeItem3.Id" />
                        <td>@Model.RecipeItem3.Name</td>
                        <td>@Model.RecipeItem3.Amount</td>
                    }
                </tr>
                <tr>
                    @if (@Model.RecipeItem4 == null)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <input type="hidden" asp-for="RecipeItem4.Id" />
                        <td>@Model.RecipeItem4.Name</td>
                        <td>@Model.RecipeItem4.Amount</td>
                    }
                </tr>
                <tr>
                    @if (@Model.RecipeItem5 == null)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <input type="hidden" asp-for="RecipeItem5.Id" />
                        <td>@Model.RecipeItem5.Name</td>
                        <td>@Model.RecipeItem5.Amount</td>
                    }
                </tr>
            </tbody>
        </table>

        <!--Cooking Steps, Introduction and Image -->
        <div class="form-group">
            <b><label asp-for="@Model.Recipe.CookingSteps" class="control-label"></label></b>
            <textarea asp-for="@Model.Recipe.CookingSteps" class="form-control rounded-border" rows="8"></textarea>
            <span asp-validation-for="@Model.Recipe.CookingSteps" class="text-danger"></span>
        </div>

        <div class="form-group">
            <b><label asp-for="@Model.Recipe.Introduction" class="control-label"></label></b>
            <textarea asp-for="@Model.Recipe.Introduction" class="form-control rounded-border" rows="5"></textarea>
            <div asp-validation-summary="All" class="text-secondary"></div>
        </div>

        <div class="form-group">
            <b>Please Upload a JPG/PNG image</b>
            <input type="file" asp-for="@Model.Recipe.ImageFile" class="form-control" />
            <span asp-validation-for="@Model.Recipe.ImageFile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="Recipe.Id" />
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>