@page
@model NewFoodie.Pages.Recipes.GetRecipesModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Recipes</h1>
    <br />
    <h7 style="color:blue">Note: If you want to check all recipes, please clear filter. </h7>

    <!-- Search  -->
    <form class="form-inline" method="get" style="margin-top: 3vh">
        <select asp-for="@Model.RecipeCriteria.SearchCategory" 
                class="form-control rounded-border" style="min-width: 10rem" 
                asp-items="@Model.SearchCategories">
            <option value="">Please select what to search</option>
            <option value="Recipe">Recipe</option>
            <option value="Ingredient">Ingredient</option>
        </select>
        <input type="text" asp-for="@Model.RecipeCriteria.SearchCriterion" 
               class="form-control rounded-border mx-2" style="min-width: 30rem" placeholder="Recipe Name or Ingredient" />
        <button type="submit" class="btn btn-success mx-2">Search</button>
        <a asp-page="GetRecipes" class="btn btn-outline-dark mx-2 rounded-border">Clear Filter</a>
    </form>
</div>
<br />

<!-- Results -->
@if (Model.Recipes.Count() > 0)
{
    <table class="table" style="margin-top: 3vh">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Recipes[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipes[0].Introduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipes[0].ImageData)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.Recipes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => recipe.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recipe.Introduction)
                    </td>
                    <td>
                        <img src="data:image/jpg;base64,@recipe.ImageData" width="300px" height="200px"></img>
                    </td>
                    <td>
                        <a asp-page="/Recipes/RecipeDetails" asp-route-recipeId="@recipe.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="w-100 text-center mt-5">
        <h5>@Model.ScreenMessage</h5>
    </div>
}

