@page
@using NewFoodie.Models;
@using NewFoodie.Services.Interfaces;
@model NewFoodie.Pages.Recipes.RecipeDetailsModel
@inject IRecipeService RecipeService;
@inject IRecipeItemService RecipeItemService;

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-page="/Recipes/GetRecipes">Back to List</a>
</div>
<br />

<h1>Recipe Details</h1>
<br />

<h3>@Html.DisplayFor(model => model.Recipe.Name)</h3>
<img src="data:image/jpg;base64,@Model.Recipe.ImageData" width="600px" height="400px"></img>
<br />
<br />

<h4>Ingredients</h4>
<table class="table">
    <thead>
        <tr>
            <th> Ingredient</th>
            <th> Amout</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RecipeItems)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            </tr>
        }
    </tbody>
</table>

<h4>Cooking Steps</h4>
@Html.DisplayFor(model => model.Recipe.CookingSteps)

<br /> <br />

<h4>Introduction</h4>
@Html.DisplayFor(model => model.Recipe.Introduction)

